.App {
  background-color: #c2571a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 575px;
  height: min-content;
  padding: 30px 20px;
  box-shadow: 10px 10px 42px 0px lightcoral;
  border-radius: 10px;
}

button {
  cursor: pointer;
  background-color: white;
  color: #c2571a;
  border: none;
  padding: 5px;
  border-radius: 7px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}