body{
    display: flex;
    justify-content: center;
            align-items: center;
        }
        .calculator{
            background-color:  rgb(157, 253, 157);
            border-radius: 15px;
            width: 600px;
            margin-left:320px ;
        }
        button{
            width: 100px;
            height: 50px;
            margin-bottom: 10px;
            margin-right: 10px;
            background-color: rgb(100, 142, 255);
            border-radius: 10px;
            border: 1px solid transparent;
            font-size: 20px;
            font-weight: bold;
        box-shadow: 5px 5px 10px 0px rgba(22, 22, 22, 0.2);
        }
        input{
            height: 100px;
            width:  555px;
        box-shadow: 5px 5px 10px 0px rgba(22, 22, 22, 0.2);
    border: 5px solid black;
            margin-bottom: 30px;
            background-color: rgb(173, 172, 172);
            border-radius: 10px;
            font-size: 45px;
        }
        .page-container{
            height: 90%;
            width: 100%;
            text-align: center;
        }
        .mainhead{
            padding-top: 20px;
            display:block;
            text-decoration: underline;
        }
        button:hover{
            background-color: rgb(111, 0, 255);
        }