body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 200px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header {
    font-size: 36px;
    margin-bottom: 20px;
}

.stopwatch, .digital-clock, .timer, .clock {
    font-size: 28px;
    margin: 20px 0;
    display: none;
}

.controls {
    margin-top: 10px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.toggle-buttons {
    margin-top: 20px;
}

.toggle-button {
    font-size: 16px;
    padding: 5px 10px;
    margin: 0 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-button.active {
    background-color: #0056b3;
}
