*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 150vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #95caff;
}
.container{
    width: 40%;
    top: 80%;
    left: 50%;
    background: white;
    border-radius: 10px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    /* margin-bottom: 50px; */
    transform: translate(-50%,-50%);
}
.head{margin:auto;
    font-size: 40px;
    width: 1200px;
    margin-top: 100px;
    text-align: center;
}
.head p{
    font-size: 15px;
}
img{
    height: 400px;
    width: 400px;
    position: absolute;
    right: 200px;
    bottom: -430px;
    display: block;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 20px;
/* margin-top: 100px; */
    align-items: center;
}
.info{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 200px;
    bottom: -430px;
    display: block;
    /* margin-top: 100px; */
    margin: auto;
    padding: 10px;
    background-color: #6589ff;
    border: 1px solid transparent;
    border-radius: 20px;

    align-items: center;
}
li{
    padding-left: 20px;
    list-style: none;
}
#newtask{
    position: relative;
    padding: 30px 20px;
}
#newtask input{
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

#newtask input:focus{
    outline: none;
    border-color: #0d75ec;
}
#newtask button{
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
}
#tasks{
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
}

.task{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}
.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: #6583e5;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}
#mainhead{
    text-align: center;
    margin-bottom: 20px;
}
#mainhead p{
    margin-top: 10px;
}